Nicolas_-_Prisma_Browser_-_Suspend_device.yml
id: fd5fe4ef-83c0-440f-8a9a-4bf0898d9148
version: 26
vcShouldKeepItemLegacyProdMachine: false
name: Nicolas - Prisma Browser - Suspend device
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 337da40a-c74e-4fdc-8071-79d0ac9d84e1
    type: start
    task:
      id: 337da40a-c74e-4fdc-8071-79d0ac9d84e1
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 59899d50-2eb0-4c8b-b2ee-6d595794ae83
    type: regular
    task:
      id: 59899d50-2eb0-4c8b-b2ee-6d595794ae83
      version: -1
      name: prisma-sase-browser-access-device-suspend
      script: ' Palo Alto Networks - Strata Cloud Manager - with PB|||prisma-sase-browser-access-device-suspend'
      type: regular
      iscommand: true
      brand: ' Palo Alto Networks - Strata Cloud Manager - with PB'
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      device_ids:
        simple: ${PrismaSase.BrowserAccessDevice.user.deviceIds}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 452c2bf1-0235-4645-a76e-c14ef9e522ce
    type: title
    task:
      id: 452c2bf1-0235-4645-a76e-c14ef9e522ce
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: e49792d7-f4f7-4fad-9d72-fce08db11396
    type: regular
    task:
      id: e49792d7-f4f7-4fad-9d72-fce08db11396
      version: -1
      name: prisma-sase-browser-access-device-list
      script: ' Palo Alto Networks - Strata Cloud Manager - with PB|||prisma-sase-browser-access-device-list'
      type: regular
      iscommand: true
      brand: ' Palo Alto Networks - Strata Cloud Manager - with PB'
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "1"
    scriptarguments:
      hostname:
        simple: ${issue.hostname}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: fe1c1528-e9d3-44e8-b671-84a393b78333
    type: title
    task:
      id: fe1c1528-e9d3-44e8-b671-84a393b78333
      version: -1
      name: Next task will parse list of devices matching Hostname context data and
        in output we will have the device_id
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: bc06be28-10c2-4295-a491-c4eceeb8fc8c
    type: regular
    task:
      id: bc06be28-10c2-4295-a491-c4eceeb8fc8c
      version: -1
      name: Set issue status
      description: Sets the status of the issue
      script: Builtin|||setIssueStatus
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      status:
        simple: Resolved - True Positive
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1115
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: c5987881-dc81-4a5a-a8f7-211c9d85a3a5
    type: regular
    task:
      id: c5987881-dc81-4a5a-a8f7-211c9d85a3a5
      version: -1
      name: send-mail
      description: Sends an email using Gmail.
      script: Gmail Single User|||send-mail
      type: regular
      iscommand: true
      brand: Gmail Single User
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      body:
        simple: |-
          Dear ${issue.username} user,

          Your PB device has been suspended because of a C2 attack we have detected. Please call the Infosec team.

          Prisma Browser & Cortex: 1+1=3
      subject:
        simple: 'Your PB device has been suspended '
      to:
        simple: pandemogsat@gmail.com
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 930
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 2b89ab6b-22b4-4a4b-9413-66d917ad4910
    type: title
    task:
      id: 2b89ab6b-22b4-4a4b-9413-66d917ad4910
      version: -1
      name: Notify the user via email
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "7"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1310,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
adopted: true
